h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Sharp grotesk 20', sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  color: #5f5e5e;
  font-size: 19px;
  line-height: 28px;
}

a {
  text-decoration: none;
}
strong {
color: #ea4e57;
	font-weight: 900;
  }

ol, ul {
    font-size: 25px;
    line-height: normal;
	font-weight:bolder;
	margin-bottom: 30px;
	
}

ol, ul li {
	font-weight:300;
	margin-top:10px;
	font-size: 19px;
}


/*link adaptation*/

  a {
    color: #ea4e57;
    text-decoration: underline;
  }

/*Illustration*/
img[src*="consonew"]{
  margin-right: 10%;
}

	/*tooltip*/

a.tip:hover {
  position: relative
}
a.tip span {
  display: none
}
a.tip:hover::before {
	content: "Le TAEG c’est quoi ? Le TAEG (Taux annuel effectif global) est un taux d’intérêt (%) qui est calculé selon une manière déterminée par la loi. Le TAEG est calculé à partir de tous les frais liés au crédit : intérêts mensuels, frais, assurance éventuelle. Il prend donc en compte tout ce qui coûte de l’argent lorsque tu contractes un crédit. Le TAEG est donc un indicateur pour comparer plusieurs crédits.";
  border: #c0c0c0 1px dotted;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
  left: 0px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 400px;
  position: absolute;
  top: 14px;
  text-decoration: none
}

/* Lightbox*/
  tr {
    height: 40px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 14;
  /* padding-top: 100px; */
  left: 0;
  top: 0;
  width: 50%;
  height: 80%;
  overflow: auto;
  margin: 10% 25% 20% 25%;
}
.salmon {
  color: rgba(234, 78, 87);
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.modal-content {
    margin: 2% 10%;
}
td {
    width: 76%;
    /* height: 20px; */
    padding: 5px;
}
.border {
  border-bottom: dashed 3.2px;
  border-color: rgba(234, 78, 87, .5);
}
.darkTransparent {
  margin-top: 28px;
  padding: 20px;
  border-left: 7px solid #ea4e57;
  border-radius: 4px;
  background-color: rgba(34, 27, 66, .96);
  -webkit-transition: -webkit-transform 325ms ease;
  transition: -webkit-transform 325ms ease;
  transition: transform 325ms ease;
  transition: transform 325ms ease, -webkit-transform 325ms ease;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.dark p {color: white;
font-size: 1em;}
.hero {
  position: relative;
  height: 90%;
  background-color: #221b42;
  background-image: radial-gradient(circle closest-corner at 72% 63%, #4a478f, hsla(0, 0%, 100%, 0)), -webkit-gradient(linear, left top, left bottom, from(rgba(34, 27, 66, 0.91)), to(rgba(34, 27, 66, 0.91))), url('../images/94071153-night-cosmos-dark-blue-sky-stars-seamless-pattern-vector-.jpg');
  background-image: radial-gradient(circle closest-corner at 72% 63%, #4a478f, hsla(0, 0%, 100%, 0)), linear-gradient(180deg, rgba(34, 27, 66, 0.91), rgba(34, 27, 66, 0.91)), url('../images/94071153-night-cosmos-dark-blue-sky-stars-seamless-pattern-vector-.jpg');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: auto, auto, 225px;
  background-attachment: scroll, scroll, fixed;
}

.hero.pages {
  height: 500px;
  background-color: #8168f1;
  background-image: radial-gradient(circle closest-corner at 66% 80%, rgba(84, 72, 138, 0.85), transparent), linear-gradient(271deg, rgba(66, 60, 141, 0.37), #1d134b 99%), url('../images/94071153-night-cosmos-dark-blue-sky-stars-seamless-pattern-vector-.jpg');
  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-size: auto, auto, 225px;
}

.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding: 20px 50px;
  background-color: transparent;
}

.body {
  height: 100%;
  font-family: Abel, sans-serif;
}

.headertxt {
  width: 90%;
  margin-top: 23px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-family: 'D dincondensed', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  text-transform: uppercase;
}

.headertxt2 {
  width: 90%;
  margin-top: 23px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-family: 'D dincondensed', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  text-transform: uppercase;

}

.headertxt.cta {
  font-size: 23px;
}

.headertxt.cta-copy {
  font-size: 23px;
}

.menu-button {
  background-color: transparent;
  color: #fff;
  font-size: 38px;
}

.menu-button:hover {
  color: #ea4e57;
}

.menu-button:active {
  width: 70px;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.menu-button.w--open {
  z-index: 10;
  background-color: hsla(0, 0%, 100%, 0);
}

.logotxt {
  margin-left: 64px;
  -webkit-transform: skew(0deg, 0deg);
  -ms-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
  font-family: 'D dincondensed', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.brand {
  z-index: 10;
  padding-top: 19px;
}

.brand:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.brand.w--current {
  padding: 12px;
}

.wrappercol {
  position: absolute;
  display: none;
  width: 100%;
}

.kredimg {
  position: relative;
  z-index: 7;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transform: translate(102px, -19px);
  -ms-transform: translate(102px, -19px);
  transform: translate(102px, -19px);
}

.red {
  color: #ea4e67;
}

.div-block {
  position: absolute;
  display: none;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background-color: rgba(214, 48, 94, 0.78);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  -webkit-transform: translate(60px, -51px);
  -ms-transform: translate(60px, -51px);
  transform: translate(60px, -51px);
}

.dropdown-toggle {
  width: 376.296875px;
  margin-top: 25px;
  padding-right: 65px;
  padding-left: 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #ea4e57;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: -webkit-transform 342ms ease;
  transition: -webkit-transform 342ms ease;
  transition: transform 342ms ease;
  transition: transform 342ms ease, -webkit-transform 342ms ease;
  font-family: 'Sharp grotesk 20', sans-serif;
  color: #fff;
}

.dropdown-toggle:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.dropdown-toggle.w--open {
  width: 400px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.text-block {
  letter-spacing: 0.5px;
}

.centercontain {
  position: relative;
  top: 50%;
  z-index: 12;
  -webkit-transform: translate(0px, -50%) translate(0px, -51px);
  -ms-transform: translate(0px, -50%) translate(0px, -51px);
  transform: translate(0px, -50%) translate(0px, -51px);
}

.centercontain.pagez {
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.image {
  position: absolute;
  bottom: 0px;
  display: none;
  -webkit-transform: translate(0px, 1px);
  -ms-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading {
  margin-bottom: 18px;
}

.dropdown {
    font-family: 'Sharp grotesk 20', sans-serif;
    color: #fff;
    display: inherit;
}

.ddlink {
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 20px;
  color: #fff;
}

.ddlink:hover {
  padding-left: 33px;
  background-color: #d3324c;
}

.dropdown-list {
  background-color: #ea4e67;
}

.dropdown-list.w--open {
  overflow: hidden;
  margin-top: -40px;
  border-bottom-right-radius: 50px;
}

._01about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #222121;
}



.columns {
  position: relative;
  z-index: 4;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
}

.bottomwhite {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  width: 100%;
  height: 120px;
}

.grid-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  grid-column-gap: 14px;
  grid-row-gap: 33px;
  -ms-grid-columns: minmax(200px, 1fr) 1fr;
  grid-template-columns: minmax(200px, 1fr) 1fr;
  -ms-grid-rows: minmax(auto, 1fr) minmax(0%, 1fr);
  grid-template-rows: minmax(auto, 1fr) minmax(0%, 1fr);
}

.rowkred {
  position: absolute;
  display: inline-block;
  width: 100%;
}

.grid-3 {
  position: absolute;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._01 {
  padding-top: 145px;
  padding-bottom: 40px;
}

._01.ressource {
  padding-top: 91px;
}

.headingtinro {
  margin-top: 21px;
  font-family: 'D dincondensed', sans-serif;
  color: #30265a;
  font-size: 27px;
  line-height: 33px;
  text-transform: uppercase;
}

.headingtinro.ressources {
  margin-top: 0px;
}

.headingcorps {
  margin-bottom: 17px;
  font-family: 'D dincondensed', sans-serif;
  color: #2f2658;
  font-size: 26px;
  line-height: 33px;
  text-transform: uppercase;
}

.colblocks {
  margin-bottom: 107px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.colblocks:nth-child(odd) {
    flex-direction: row-reverse;
}

.colblocks:nth-child(odd) svg {
    flex-direction: row-reverse;
transform: rotate(-450deg);
}

.block-50 {
	width: 48%;
	position: relative;
}
.image-2 {
  position: absolute;
  right: 50px;
  bottom: -63px;
  margin-right: 10%;
}

.image-2.immmo {
  right: 233px;
  bottom: -100px;
}

.image-2.rembourser {
  right: 223px;
  bottom: -72px;
}

.image-2.conso {
  right: 74px;
  bottom: -83px;
}

.image-2.newcredits {
  right: 65px;
  bottom: -103px;
}

.paragraph {
  padding-right: 50px;
  color: #686868;
  font-size: 20px;
}

.imginfo {
  position: relative;
  right: 0px;
  bottom: 0px;
  max-width: 100%;
  background-color: #000;

    max-width: 99%;
    background-color: #fff;
    padding-left: 1%;
}

.colrightinfo {
  text-align: right;
}

.cta {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 11px solid #ea4e67;
  background-color: #221b42;
}

.ctatext {
  margin-top: 23px;
  padding-right: 96px;
  font-family: 'D dincondensed', sans-serif;
  color: #fff;
  font-size: 27px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
}

.ctatext.cta {
  font-size: 23px;
}

.ctatext.cta-copy {
  font-size: 23px;
}

.btncta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  padding: 18px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ea4e67;
  -webkit-transition: -webkit-transform 342ms ease;
  transition: -webkit-transform 342ms ease;
  transition: transform 342ms ease;
  transition: transform 342ms ease, -webkit-transform 342ms ease;
  font-family: 'D dincondensed', sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.btncta:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.btncta.w--open {
  width: 400px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.rightcolcta {
  text-align: right;
}

.column-2 {
  display: none;
}

.columns-2 {
  padding-bottom: 52px;
  border-bottom: 1px solid #565072;
}

.pfooter {
  color: #6f6a8d;
}

.colfoot {
  padding-left: 0px;
}

.rowfoot2 {
  margin-top: 36px;
}

.lastcol {
  text-align: right;
}

.linktop {
  margin-top: 24px;
  font-family: 'D dincondensed', sans-serif;
  color: #fff;
  font-size: 21px;
}

.linktop:hover {
  color: #ea4e57;
}

.dark {
  margin-top: 28px;
  padding: 20px;
  border-left: 7px solid #ea4e57;
  border-radius: 4px;
  background-color: #221b42;
  -webkit-transition: -webkit-transform 325ms ease;
  transition: -webkit-transform 325ms ease;
  transition: transform 325ms ease;
  transition: transform 325ms ease, -webkit-transform 325ms ease;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.dark:hover {
  -webkit-transform: scale(1.09);
  -ms-transform: scale(1.09);
  transform: scale(1.09);
}

.dark.right {
  padding-right: 40px;
  padding-left: 20px;
}

.contourwhite {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.contourwhite.links {
  width: 100%;
  max-width: 100%;
}

.imgwrapper {
  position: relative;
  overflow: hidden;
  width: 85%;
  margin-left: 29px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}

.navlink {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #373057;
  -webkit-transition: padding 408ms ease;
  transition: padding 408ms ease;
  font-family: 'D dincondensed', sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

.navlink:hover {
  padding-left: 40px;
  color: #ea4e67;
}

.navlink.w--current {
  color: #ea4e57;
}

.navlink.drop {
  margin-left: 70px;
}

.dropdown-list-2 {
  background-color: transparent;
}

.sacheque {
  position: absolute;
  left: -38px;
  top: -20px;
  display: none;
  -webkit-transform: rotate(-33deg);
  -ms-transform: rotate(-33deg);
  transform: rotate(-33deg);
}

.sacheque.right {
  left: auto;
  right: -38px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.contentdark {
  position: relative;
}

.column-4 {
  padding-right: 34px;
}

.kreddark {
  position: absolute;
  right: 123px;
  bottom: -63px;
  z-index: 1;
  opacity: 0;
}

.kreddark.immmo {
  right: 233px;
  bottom: -100px;
}

.kreddark.car {
  bottom: -70px;
}

.nav-menu {
  width: 100%;
  padding-top: 86px;
  float: none;
  background-color: #221b42;
}

.txticon {
  position: absolute;
  left: -144px;
  top: 25px;
  bottom: 0px;
  display: inline-block;
  width: 160px;
  padding-top: 2px;
  padding-right: 2px;
  opacity: 1;
  font-family: 'D dincondensed', sans-serif;
  font-size: 25px;
  text-align: right;
  text-transform: uppercase;
}

.image-3 {

}

.partner1 {
  margin-top: 0px;
}

.div-block-2 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 72;
  width: 100%;
  height: 10px;
  background-color: #ea4e57;
}

.colhero1 {
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: inline-block;
  width: 100%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.subheadline {
  display: inline-block;
  margin-top: 18px;
  font-family: 'D dincondensed', sans-serif;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.column-5 {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.image-4 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

.colliens {
  width: 100%;
  margin-bottom: 41px;
  padding-top: 40px;
  padding-bottom: 85px;
  border-bottom: 1px solid #d3d3d3;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.colliens:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.colliens.last {
  border-bottom-width: 0px;
}

.linkressources {
  width: 100%;
	text-decoration: none;
	
}

.linkinliens {
  display: inline-block;
  margin-top: 17px;
  padding: 15px 30px;
  border-radius: 40px;
  background-color: #ea4e67;
  font-family: 'D dincondensed', sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
	text-decoration: none;
}

.imglink {
  width: 98%;
}

.column-6 {
  padding-left: 48px;
}

.column-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.image-5 {
  position: absolute;
  margin-top: 3px;
}

.imgbottom {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 101%;
  height: 70px;
  max-width: 101%;
  background-color: #fff;
}

.darkhome {
  position: absolute;
  z-index: 2;
  opacity: 0;
	margin-top: 120px;
	max-width: 125%;
	width: 125%;
}

.kred-home {
margin-top: 120px;
	max-width: 125%;
	width: 125%;
}

.imglink-copy {
  width: 98%;
}

.nosdocs {
  position: absolute;
  width: 99%;
  height: 306px;
  background-color: #221b42;
}

.logo2 {
  position: relative;
  margin-left: 20px;
}

.sponso-home {
  position: absolute;
  left: 50px;
  bottom: -85.7812px;
  z-index: 1;
  display: inline-block;
}

.column-10 {
  display: none;
}

html.w-mod-js *[data-ix="appearscroll"] {
  opacity: 0;
  -webkit-transform: translate(-19px, 0px);
  -ms-transform: translate(-19px, 0px);
  transform: translate(-19px, 0px);
}

html.w-mod-js *[data-ix="appearload-delay01"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="appearload-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="appearload-body"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="appearload-delay02"] {
  opacity: 0;
  -webkit-transform: translate(-24px, 0px);
  -ms-transform: translate(-24px, 0px);
  transform: translate(-24px, 0px);
}

html.w-mod-js *[data-ix="appearload-delay-kred"] {
  opacity: 0;
  -webkit-transform: translate(-24px, 0px);
  -ms-transform: translate(-24px, 0px);
  transform: translate(-24px, 0px);
}


@font-face {
  font-family: 'Sharp grotesk 20';
  src: url('../fonts/Sharp-Grotesk-SmBold-20-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'D dincondensed';
  src: url('../fonts/D-DINCondensed-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Lightbox*/
tr {
  height: 40px;
}
.voiture.petiteNeuve {
  padding: 0% 15% 4% 15%;
}
.modal {
display: none;
position: fixed;
z-index: 9999;
/* padding-top: 100px; */
left: 0;
top: 0;
width: 50%;
height: 80%;
overflow: auto;
margin: 10% 25% 20% 25%;
}
.salmon {
color: rgba(234, 78, 87);
}
/* The Close Button */
.close {
color: white;
position: absolute;
top: 10px;
right: 25px;
font-size: 35px;
font-weight: bold;
}
.modal-content {
  margin: 2% 10%;
}
td {
  width: 76%;
  /* height: 20px; */
  padding: 5px;
}
.border {
border-bottom: dashed 3.2px;
border-color: rgba(234, 78, 87, .5);
}
.darkTransparent {
margin-top: 28px;
padding: 20px;
border-left: 7px solid #ea4e57;
border-radius: 4px;
background-color: rgba(34, 27, 66, .96);
-webkit-transition: -webkit-transform 325ms ease;
transition: -webkit-transform 325ms ease;
transition: transform 325ms ease;
transition: transform 325ms ease, -webkit-transform 325ms ease;
color: #fff;
font-size: 18px;
line-height: 26px;
}
#modalCTA:hover{
  cursor: pointer;
}
.close:hover,
.close:focus {
color: #999;
text-decoration: none;
cursor: pointer;
}

@media only screen and (min-width : 0px) and (max-width : 640px) {
/*tooltip*/

a.tip:hover::before {
  border: #c0c0c0 1px dotted;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
  left: 0px;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  position: relative;
  top: -6px;
  text-decoration: none
}

	.kred-home {
	width: 65%;
		margin-top: 40px;
}
	.darkhome {
	width: 65%;
		margin-top: 40px;
}
	
	
	#tableModal.modal{
    margin: 10% 2.5%;
    width: 95%;
} 
.modal-content {
margin: 0% 0%;
}
.voiture {
padding: 0% 0% 4% 0%;
}
  .hero.pages {
    height: 327px;
  }
  img[src*="kredcar"]{
    top: 70%;
    width: 95%;
    margin-right: 67px;
  }
  img[src*="consonew"]{
     top: 84%;
    margin-right: 28px;
  }
  img[src*="rembourser2"]{
    top: 52%;
    margin-right: 20%;
    width: 90%;
  }
  img[src*="newcredits"]{
  top: 59%;
    margin-right: 76px;
    width: 89%;
  }
  .column-X {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    padding: 0px;
    text-align: center;
}
  .column-9{
    margin: 0% 20%;
  }
  .image-3{
    width: 60%;
  }

  .nav {
    padding: 10px;
  }
  .headertxt {
    font-size: 26px;
    line-height: 33px;
    margin-top: -20px;
  }
	  .headertxt2 {
    font-size: 26px;
    line-height: 33px;
		  margin-bottom: 26px;
  }
	.imgbottom {

    display: none;
}
	.column-5 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    padding: 24px;
    text-align: center;
}
  .logotxt {
    margin-left: 51px;
    font-size: 19px;
    line-height: 19px;
  }
  .brand.w--current {
    -webkit-transform: scale(0.78) translate(-28px, 0px);
    -ms-transform: scale(0.78) translate(-28px, 0px);
    transform: scale(0.78) translate(-28px, 0px);
  }
  .dropdown-toggle {
    width: 284.296875px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    font-size: 13px;
  }
  .centercontain {
    top: 140px;
    padding-right: 12px;
    padding-left: 12px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
	.colblocks:nth-child(odd) {
    flex-direction: row;
}

	.block-50 {
	width: 100%;
}
  .centercontain.pagez {
    top: 176px;
  }
  .ddlink {
    font-size: 11px;
  }
  ._01 {
    padding-top: 92px;
    padding-right: 10px;
    padding-left: 13px;
  }
  ._01.ressource {
    padding-top: 0px;
  }
  .headingtinro {
    font-size: 19px;
    line-height: 28px;
  }
  .colblocks {
    margin-bottom: 45px;
  }
  .image-2 {
    right: -57px;
    bottom: -100px;
  }

  .paragraph {
    padding-right: 0px;
  }
  .imginfo {
    max-width: 99%;
  }
  .ctatext {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .column {
    display: none;
  }
  .column-2 {
    display: none;
  }
  .pfooter {
    text-align: center;
      padding: 0% 1%;
  }
  .lastcol {
    text-align: center;
  }
  .contourwhite {
    width: 101%;
    max-width: 101%;
  }
  .contourwhite.links {
    width: 90%;
  }
  .imgwrapper {
    background-color: #fff;
  }
  .navlink {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 23px;
    line-height: 28px;
  }
  .kreddark {
    right: -57px;
    bottom: -80px;
  }
  .kreddark.immmo {
    right: 0px;
    width: 200px;
  }
  .kreddark.car {
    bottom: -50px;
  }
  .subheadline {
    font-size: 16px;
  }
  .imglink {
    width: 90%;
  }
  .image-5 {
    width: 41px;
  }
  .column-9 {
    padding-top: 196px;
  }
  .container-2 {
    text-align: center;
  }
  .icon-2 {
    font-size: 33px;
  }
  .imglink-copy {
    width: 90%;
  }
  .sponso-home {
    /* left: 25px; */
    top: auto;
    /* right: -2px; */
    bottom: -175.7812px;
    width: 100%;
  }
  
  .column-10 {
    display: none;
  }
  img.icon {
    margin: 0px 0px 20px 0px;
}
}
@media only screen and (min-width : 640px) and (max-width : 1200px) {
  .container-2.w-container {
    height: 470px;
}
  .hero {
    position: relative;
    height: 94%;
  }
  img[src*="consonew"]{
    position: absolute;
    right: 22px;
    width: 71%;
    top: 377px;
  }


  img[src*="newcredits"]{
    top: 43%;
  }
  img[src*="kredcar"]{
    top: 60%;
    left: 3%;
  }
  img[src*="rembourser2"]{
    position: absolute;
    right: 106px;
    width: 61%;
    bottom: -160px;
  }
  .headertxt {
    margin-top: 0px;
  }
  .btncta {
  margin-right: 25px;
  }
  img.imginfo {
    border: solid white 2px;
    margin: 0px 0px;
}
  .lastcol.w-col.w-col-4 {
    width: 30%;
    top: 20PX;
    position: relative;
    top: -212px;
    left: 67%;
    /* background-color: white; */
    /* width: 500px; */}
    ._01.ressource {
      padding-top: 0px;
  }
  .column-5.w-col.w-col-6 {
    padding-left: 0px;
    margin: 0px 15px 0px -20px;
}
  img[src~="car"],  img[src~="card"]{
    margin: 40px 0px;
}
  .colblocks {
    margin-bottom: 107px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navlink {
  line-height: 32px;
  }
  .image-2 {
    position: absolute;
    right: 50px;
    bottom: -107px;
  }
  .w-col {
    position: relative;
    /* float: left; */
    width: 100%;
    top: 5%;
    left: 2%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .colhero1 {
    position: absolute;
    left: 80px;
    left: -123px;
    top: 72%;
    right: -10px;
    /* left: 22px; */
  }
  .nav {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 20px 15px 20px 15px;
  }
  .imgbottom {

    bottom: -2px;
  }
  .dropdown-list.w--open {
    overflow: hidden;
    margin-top: -38px;
    margin-left: 27%;
    border-bottom-right-radius: 50px;
}
  .centercontain {
    position: relative;
    top: 52%;
  }


  .subheadline {
    display: inline-block;
    margin-top: 18px;
    font-family: 'D dincondensed', sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
  }
  img.icon{
    margin: 40px 0px 20px 0px;
  }
  .w-container .w-row {
    /* margin-left: -10px; */
    margin-right: -10px;
}
div#tableModal {
  width: 80%;
  margin: 5% 0% 5% 10%;
}

  }

