<meta name="google-site-verification" content="FQ92ooY8bzbWjddDSORITeOIUIr7P4pSkzbdYgHgmzs" />
<meta name="author" content='{{ .Site.Params.Author }}' />
<meta name="description" content='{{ .Site.Params.Description }}' />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content='{{.Params.title}}' />
<meta property="og:description" content="{{ .Site.Params.Description }}" />
<meta property="og:image" content='' />
<meta property="og:image:width" content="1200" />
<meta property="og:site_name" content="{{ .Site.Title }}" />