    <div data-collapse="all" data-animation="over-left" data-duration="400" data-doc-height="1" id="top" class="nav w-nav" data-ix="kredark"><a href="/" class="brand w-nav-brand"><img src="/images/symbollogo.svg" width="51" alt="" class="image-5"><div class="logotxt">la face cachée<br> DU <span class="red">Crédit</span></div></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div data-delay="0" class="dropdown1 w-dropdown">
          <div class="navlink w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>JE cherche un crédit</div>
          </div>
          <nav class="dropdown-list-2 w-dropdown-list">
            <div class="w-container"><a href="/credit-voiture" class="navlink drop w-dropdown-link">crédit voiture</a><a href="/credit-consommation" class="navlink drop w-dropdown-link">crédit à la consommation</a></div>
          </nav>
        </div><a href="nouveaux-credits.html" class="navlink w-nav-link">J&#x27;ai déjà un ou plusieurs crédits</a><a href="je-ne-men-sors-plus.html" class="navlink w-nav-link">JE NE PARVIENS PLUS À rembourser mes crédits</a><a href="info.html" class="navlink w-nav-link">toute l&#x27;info sur le crédit</a><a href="qui-sommes-nous.html" class="navlink w-nav-link">qui sommes-nous ? </a></nav>
      <div class="menu-button w-nav-button">
        <div class="icon-2 w-icon-nav-menu"></div>
        <div class="txticon">menu</div>
      </div>
    </div>