
        <div id="modalCTA">
            <a onclick="openModal();" class="hover-shadow">Clique ici</a>
        </div>
        <div id="tableModal" class="modal darkTransparent" style="color:white" >
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content" >
                <div class="tableCreditVoiture">
                    <div class="voiture" >
                        <h3 class="salmon">Petite voiture neuve (vw polo)</h3>
                        <table>
                        <tr>
                            <td>Prêt voiture</td>
                            <td>250 &euro; /mois</td>
                        </tr>
                        <tr>
                            <td>Frais transport (carburant)</td>
                            <td>200 &euro; /mois</td>
                        </tr>
                        <tr>
                            <td>Assurance voiture (1406 € / an) </td>
                            <td>117,16 &euro; /mois</td>
                        </tr>
                        <tr>
                            <td>Taxe de circulation (224,20 € / an)</td>
                            <td>18,68 &euro; /mois</td>
                        </tr>
                        <tr>
                            <td>Frais du véhicule : entretien, pneus, … (200 € / an)</td>
                            <td>16,66 &euro; /mois</td>
                        </tr>
                        <tr>
                            <td class="border">
                            <em> 
                            <strong> TOTAL :</strong>
                                </em> 
                            </td>
                            <td class="border">
                            <em><strong>602,5 &euro; /mois</strong></em>
                            </td>
                        </tr>
                        </table>
                    </div>
                    <div class="voiture" >
                            <h3 class="salmon">Petite voiture occasion <wbr>(vw polo de 5 ans)</h3>
                            <table>
                            <tr>
                                <td>Prêt voiture</td>
                                <td>150 &euro; /mois</td>
                            </tr>
                            <tr>
                                <td>Frais transport (carburant)&nbsp</td>
                                <td>200 &euro; /mois</td>
                            </tr>
                            <tr>
                                <td>Assurance voiture (580 € / an) </td>
                                <td>48,33 &euro; /mois</td>
                            </tr>
                            <tr>
                                <td>Taxe de circulation (337,13 € / an)</td>
                                <td>28,09 &euro; /mois</td>
                            </tr>
                            <tr>
                                <td>Frais du véhicule : entretien, pneus, … (500 € / an)</td>
                                <td>41,66 &euro; /mois</td>
                            </tr>
                            <tr>
                            <tr>
                                <td class="border">
                                <em> 
                                <strong> TOTAL :</strong>
                                    </em> 
                                </td>
                                <td class="border">
                                <em><strong>468,08 &euro; /mois</strong></em>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="voiture" >
                                <h3 class="salmon">Voiture familiale neuve (Citroën C4) </h3>
                                <table>
                                <tr>
                                    <td>Prêt voiture</td>
                                    <td>300 &euro; /mois</td>
                                </tr>
                                <tr>
                                    <td>Frais transport (carburant)</td>
                                    <td>250 &euro; /mois</td>
                                </tr>
                                <tr>
                                    <td>Assurance voiture (842 € / an) </td>
                                    <td>70,16 &euro; /mois</td>
                                </tr>
                                <tr> 
                                    <td>Taxe de circulation (437,95 € / an)</td>
                                    <td>36,49 &euro; /mois</td>
                                </tr>
                                <tr>
                                    <td>Frais du véhicule : entretien, pneus, … (300 € / an)</td>
                                    <td>25 &euro; /mois</td>
                                </tr>
                                <tr>
                                <tr>
                                    <td class="border">
                                    <em> 
                                    <strong> TOTAL :</strong>
                                        </em> 
                                    </td>
                                    <td class="border">
                                    <em><strong>681,65 &euro; /mois</strong></em>
                                    </td>
                                </tr>
                                </table>
                            </div>
                            <div class="voiture" >
                                    <h3 class="salmon">Voiture familiale occasion (Citroën C4 de 5 ans)&nbsp </h3>
                                    <table>
                                    <tr>
                                        <td>Prêt voiture</td>
                                        <td>250 &euro; /mois</td>
                                    </tr>
                                    <tr>
                                        <td>Frais transport (carburant)</td>
                                        <td>250 &euro; /mois</td>
                                    </tr>
                                    <tr>
                                        <td>Assurance voiture  (576 € / an)  </td>
                                        <td>48 &euro; /mois</td>
                                    </tr>
                                    <tr>
                                        <td>Taxe de circulation (290,93 € / an)</td>
                                        <td>24,24 &euro; /mois</td>
                                    </tr>
                                    <tr>
                                        <td>Frais du véhicule : entretien, pneus, … (600 € / an) </td>
                                        <td>50 &euro; /mois</td>
                                    </tr>
                                    <tr>
                                        <td class="border">
                                        <em> 
                                        <strong> TOTAL :</strong>
                                            </em> 
                                        </td>
                                        <td class="border">
                                        <em><strong>622,24 &euro; /mois</strong></em>
                                        </td>
                                    </tr>
                                    </table>
                                </div>   
                </div>
            </div>
        </div>
        </div>
  
